/* app.css */

body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #fff; /* Updated background color to white */
  font-size: 30px;
}

nav {
  background-color: rgba(255, 255, 255); /* Semi-transparent blue background */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  padding: 15px 0; /* Increased top and bottom padding */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8); /* Slightly larger shadow */
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

li {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000; /* Updated text color to black */
  font-size: 20px; /* Adjusted font size */
  transition: color 0.3s ease; /* Smooth color transition */
  font-weight: bold; /* Bold font weight */
}

a:hover {
  color: #096f76; /* Hover color - gray */
}

/* Optional: Add styles for active link */
a.active {
  font-weight: bold;
}

/* Optional: Add styles for the page content below the navbar */
main {
  margin-top: 120px; /* Adjusted margin-top for the larger navbar */
  padding: 30px; /* Increased padding */
  text-align: center;
}